body {
  font-family: "Red Rose";
  margin: 0px;
  padding: 0px;
  background: #070707;
  color: white;
}
.contact-section-top {
  width: 100%;
  height: 100vh;
  background-image: url("../images/contact-us-background.png");
  background-size: cover;
}
.h3-description {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: -1;
}
.h3-description h3 {
  font-size: 50px;
  font-family: "Josefin Sans";
  font-weight: 700;
  text-align: center;
}
.form-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.address {
  width: 30%;
}
.contact-form-div {
  width: 30%;
}
.contact-form-div h3 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.contact-form-div p {
  font-size: 18px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  gap: 5px;
}
.input-div input {
  font-family: "Red Rose";
  font-size: 16px;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  border-color: transparent;
}
.input-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-submit input {
  font-family: "Red Rose";
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border-color: transparent;
  width: 100%;
  display: block;
}
.form-submit {
  width: 100%;
  margin-top: 5px;
}
.form-submit input:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
