body {
  font-family: "Red Rose";
  margin: 0px;
  padding: 0px;
  background: #070707;
  color: white;
}
.contact-section-top {
  background-image: url("../images/contact-us-background.png");
  background-size: cover;
  background-position: center;
}
.input-error {
  color: red;
  display: none;
}
.btn-disabled {
  opacity: 0.2;
}