body {
  font-family: "Red Rose";
  margin: 0px;
  padding: 0px;
  background: #070707;
  color: white;
}
.iaido-section-top {
  width: 100%;
  height: 100vh;
  background-image: url("../images/iaido.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h3-description {
  font-family: "Josefin Sans";
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.iaido-demonstration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.iaido-demonstration img {
  width: 50%;
}
.iaido-figcaption {
  color: gray;
  text-align: center;
}
.iaido-section-middle {
  margin: 100px 0;
  padding: 0 190px;
}
.iaido-section-middle h3 {
  font-family: "Josefin Sans";
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}
.micro-chapter {
  margin: 50px;
}
.stages-in-training {
  margin: 0;
  padding: 0;
}
.stages-in-training li {
  margin-top: 10px;
}
.explore-link {
  width: 275px;
  margin-top: 10px;
}
.button {
  width: 100%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 7px;
  cursor: pointer;
  padding: 5px 0;
  transition: backgound-color 0.3s ease, color 0.3s ease;
}
.button:hover {
  background-color: white;
  color: #070707;
  transition: backgound-color 0.3s ease, color 0.3s ease;
}
