body {
  font-family: "Red Rose";
  margin: 0px;
  padding: 0px;
  background: #070707;
  color: white;
}
.section-top {
  background-image: url("../images/background-main.jpg");
  background-size: cover;
}
.h3-description h3 {
  font-family: "Josefin Sans";
}
.chapter-img {
  height: 350px;
  object-fit: cover;
  object-position: center;
}
.chapter-h3 {
  font-family: "Josefin Sans";
}
