body {
  font-family: "Red Rose";
  margin: 0px;
  padding: 0px;
  background: #070707;
  color: white;
}
.kenjutsu-section-top {
  background-image: url("../images/kenjutsu-background.png");
  background-size: cover;
  background-position: center;
}
