body {
  margin: 0px;
  padding: 0px;
  background: #070707;
  color: white;
}
.kenjutsu-section-top {
  height: 100vh;
  width: 100%;
  background-image: url("/images/kenjutsu-background.png");
  background-size: cover;
}
.h3-description {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.h3-description h3 {
  font-size: 50px;
  font-family: "Josefin Sans";
  font-weight: 700;
  text-align: center;
}
